# Data (too large / regenerable)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/split.csv

# Notebooks checkpoints
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc
.venv/
venv/